<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <label for="telefone">Telefone:</label>
      <input type="text" name="telefone" id="telefone" />
      <br />
      <label for="senha">Senha:</label>
      <input type="password" name="senha" id="senha" />
      <br />
      <button type="submit">Entrar</button>
    </form>

    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
  </body>
</html>
